.carte-projet {
  border: 5px solid var(--border);
  box-shadow: 10px 10px 10px 0 var(--shadow);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 70px;
}

.icone-cercle {
  margin: 0.5rem;
  display: block;
  flex: 0 0 24px;
  width: 40px;
  height: 40px;
  content: url(../../assets/icones/cercle.png);
}

.carte-projet:hover .icone-cercle {
  content: url(../../assets/icones/cercle_noir.png);
}

body.dark-mode .carte-projet:hover .icone-cercle {
  content: url(../../assets/icones/cercle_blanc.png);
}

.carte-projet h3 {
  margin: 0;
}
